.map-container {
  position: relative;
  z-index: 21;
  background-color: #fdfeff;
  height: 300px;

  &.transition {
    transition: height 300ms ease;
  }

  .map-top-ine {
    height: 22px;
    border-top: 1px solid #e9f1ff;
    display: flex;
    justify-content: center;
    align-items: center;

    .dots-icon {
      transform: rotate(90deg);

      &:hover {
        cursor: row-resize;
      }
    }
  }

  #map {
    box-sizing: initial;
    height: 100%;

    *:focus-visible {
      outline: none;
    }

    .gm-style > div {
      border: none !important;
    }

    img {
      max-width: none;
    }
  }
}
