.example {
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}

.close {
  svg {
    transition: 0.15s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    width: 11px;
    height: 11px;
    fill: #81A6E7;

    &:hover {
      fill: #0866FB;
    }
  }
}

.popup {
  z-index: 10000000;
  width: 580px;
  background: #fff;
  border-radius: 15px;
  padding: 15px 25px 30px 25px;
  box-shadow: 0 4px 24px rgba(67, 108, 180, 0.39);

  .status {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    .number {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0866fb;
    }

    .btn-recall {
      transition: 0.2s;
      background: #ee3e62;
      border-radius: 8px;
      padding: 5px 10px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff;
    }
  }

  .info {
    .address {
      display: flex;

      img {
        margin-top: 2px;
        width: 10px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .txt {
        transition: 0.15s;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #0f244a;
        margin-left: 8px;
        padding-bottom: 2px;
        border-bottom: 1px dotted #81a6e7;
        cursor: pointer;

        &:hover {
          border-bottom: 1px dotted #0866fb;
        }
      }
    }

    .contacts {
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      align-items: center;
      color: #81a6e7;

      .top {
        display: flex;
        padding-top: 16px;
        padding-bottom: 12px;

        .name {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 5px;

          &:after {
            width: 5px;
            height: 5px;
            position: absolute;
            content: " ";
            background: #81a6e7;
            border-radius: 100px;
            margin-left: 96px;
          }
        }

        .description {
          padding-left: 5px;
        }
      }

      .bottom {
        display: flex;

        .phone {
          padding-right: 5px;
          display: flex;
          align-items: center;
          position: relative;

          &:after {
            width: 5px;
            height: 5px;
            position: absolute;
            content: " ";
            background: #81a6e7;
            border-radius: 100px;
            margin-left: 151px;
          }
        }

        .mail {
          padding-left: 5px;
        }
      }
    }
  }

  .main-text {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #0f244a;
  }

  .inputs {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 14px;

    input[type="date"]::-webkit-calendar-picker-indicator {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 2H19C19.2652 2 19.5196 2.10536 19.7071 2.29289C19.8946 2.48043 20 2.73478 20 3V19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H1C0.734784 20 0.48043 19.8946 0.292893 19.7071C0.105357 19.5196 0 19.2652 0 19V3C0 2.73478 0.105357 2.48043 0.292893 2.29289C0.48043 2.10536 0.734784 2 1 2H5V0H7V2H13V0H15V2ZM18 8V4H15V6H13V4H7V6H5V4H2V8H18ZM18 10H2V18H18V10ZM4 12H9V16H4V12Z' fill='%230866FB'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 2H19C19.2652 2 19.5196 2.10536 19.7071 2.29289C19.8946 2.48043 20 2.73478 20 3V19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H1C0.734784 20 0.48043 19.8946 0.292893 19.7071C0.105357 19.5196 0 19.2652 0 19V3C0 2.73478 0.105357 2.48043 0.292893 2.29289C0.48043 2.10536 0.734784 2 1 2H5V0H7V2H13V0H15V2ZM18 8V4H15V6H13V4H7V6H5V4H2V8H18ZM18 10H2V18H18V10ZM4 12H9V16H4V12Z' fill='%23000'/%3E%3C/svg%3E%0A");
      }
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20.4814C4.477 20.4814 0 16.0044 0 10.4814C0 4.95838 4.477 0.481384 10 0.481384C15.523 0.481384 20 4.95838 20 10.4814C20 16.0044 15.523 20.4814 10 20.4814ZM10 18.4814C12.1217 18.4814 14.1566 17.6385 15.6569 16.1382C17.1571 14.6379 18 12.6031 18 10.4814C18 8.35965 17.1571 6.32482 15.6569 4.82453C14.1566 3.32424 12.1217 2.48138 10 2.48138C7.87827 2.48138 5.84344 3.32424 4.34315 4.82453C2.84285 6.32482 2 8.35965 2 10.4814C2 12.6031 2.84285 14.6379 4.34315 16.1382C5.84344 17.6385 7.87827 18.4814 10 18.4814ZM11 10.4814H15V12.4814H9V5.48138H11V10.4814Z' fill='%230866FB'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20.4814C4.477 20.4814 0 16.0044 0 10.4814C0 4.95838 4.477 0.481384 10 0.481384C15.523 0.481384 20 4.95838 20 10.4814C20 16.0044 15.523 20.4814 10 20.4814ZM10 18.4814C12.1217 18.4814 14.1566 17.6385 15.6569 16.1382C17.1571 14.6379 18 12.6031 18 10.4814C18 8.35965 17.1571 6.32482 15.6569 4.82453C14.1566 3.32424 12.1217 2.48138 10 2.48138C7.87827 2.48138 5.84344 3.32424 4.34315 4.82453C2.84285 6.32482 2 8.35965 2 10.4814C2 12.6031 2.84285 14.6379 4.34315 16.1382C5.84344 17.6385 7.87827 18.4814 10 18.4814ZM11 10.4814H15V12.4814H9V5.48138H11V10.4814Z' fill='%23000'/%3E%3C/svg%3E%0A");
      }
    }

    .date {
      transition: 0.1s;
      position: relative;
      width: 173px;
      padding: 18px 24px;
      display: flex;
      justify-content: space-between;
      outline: none;
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #94bbff;
      border-radius: 15px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      &:after {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "Date";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }

      &:hover {
        border: 1px solid #81a6e7;
      }
    }

    .time {
      transition: 0.1s;
      width: 173px;
      padding: 18px 24px;
      display: flex;
      justify-content: space-between;
      outline: none;
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #94bbff;
      border-radius: 15px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      &:hover {
        border: 1px solid #81a6e7;
      }
    }

    .time-from {
      position: relative;

      &:after {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "From";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }
    }

    .time-to {
      position: relative;

      &:after {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "To";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }
    }
  }

  .btn-add {
    cursor: pointer;
    transition: 0.2s;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0866fb;

    padding: 16px 24px;
    background: #e4efff;
    border-radius: 15px;
    max-width: 166px;

    &:hover {
      background: #d1e3fe;
      color: #0866fb;
    }
  }
}

.popup-search {
  padding: 15px 26px 25px;
  background: #ffffff;
  box-shadow: 0 4px 24px rgba(67, 108, 180, 0.39);
  border-radius: 15px;
  width: 402px;
  z-index: 1000;

  .title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #0f244a;

    padding-bottom: 15px;
    border-bottom: 1px solid #e4efff;
  }

  .search-form {
    position: relative;
    display: flex;
    justify-content: flex-end;

    i.fa {
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      margin-right: 15px;
      position: absolute;
      z-index: 1;
      margin-top: 32px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search {
      margin-bottom: 14px;
      position: relative;
      margin-top: 15px;
      outline: none;
      width: 100%;
      border: 1px solid #94bbff;
      border-radius: 15px;
      padding: 20px 45px 20px 20px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      &::placeholder {
        color: #81a6e7;
      }

      &:before {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "To";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }
    }
  }

  .list {
    height: 320px;

    .item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

      .left {
        display: flex;
        align-items: center;

        .person-img {
          margin-right: 10px;
          width: 35px;
          height: 35px;
        }

        .names {
          .title-technical {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #81a6e7;
          }

          .name {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #0f244a;
          }
        }
      }

      .right {
        .add-btn {
          transition: 0.3s;
          cursor: pointer;
          padding: 12px 16px;
          background: #e9f1ff;
          border-radius: 15px;
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 130%;
          text-align: center;
          letter-spacing: 0.02em;
          color: #0866fb;

          &:hover {
            background: #0866fb;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.popup-error {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(67, 108, 180, 0.39);
  border-radius: 15px;
  width: 580px;
  padding: 16px 11px 30px 25px;

  .top {
    display: flex;
    align-items: center;
    padding-top: 13px;

    .title {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #EE3E62;
      padding-left: 21px;
    }
  }

  .text {
    padding-top: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0F244A;
    padding-right: 28px;

    span {
      color: #0866FB;
    }
  }

  .btn-find {
    cursor: pointer;
    transition: .2s;
    margin-top: 20px;
    width: 189px;
    padding: 16px 24px;
    background: #E4EFFF;
    border-radius: 15px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0866FB;

    &:hover {
      background: #d1e3fe;
      color: #0866fb;
    }
  }
}

.btn-save {
  margin-top: 14px;
  background: #0866FB;
  border-radius: 15px;
  padding: 16px 30px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
