.example {
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}

.close {
  svg {
    transition: 0.15s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    width: 11px;
    height: 11px;
    fill: #81A6E7;
    color: #81a6e7;

    &:hover {
      fill: #0866FB;
      color: #0866FB;
    }
  }
}

.main-text-go-scroll {
  padding: 10px;
  background: #E9F1FF;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.popup {
  z-index: 21;
  width: 580px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 24px rgba(67, 108, 180, 0.39);

  &.big {
    width: 580px;
    padding: 15px 25px 30px;
  }

  &.small {
    width: 354px;
    padding: 8px 16px 24px 26px;
  }

  .status {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    .number {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0866fb;
    }

    .btn-recall {
      transition: 0.2s;
      border-radius: 8px;
      padding: 5px 10px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff;

      &.red {
        background-color: $red;
      }

      &.orange {
        background-color: $orange;
      }

      &.violet {
        background-color: $violet;
      }

      &.unknown-tag {
        background-color: #94bbff;
      }
    }
  }

  .info {
    .address {
      display: flex;
      align-items: baseline;

      svg {
        flex-shrink: 0;
      }

      img {
        margin-top: 2px;
        width: 10px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .txt {
        transition: 0.15s;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #0f244a;
        margin-left: 8px;
        padding-bottom: 2px;
        border-bottom: 1px dotted #81a6e7;
        cursor: pointer;

        &:hover {
          border-bottom: 1px dotted #0866fb;
        }
      }
    }

    .contacts {
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      align-items: center;
      color: #81a6e7;

      .top {
        display: flex;
        padding-top: 16px;
        padding-bottom: 12px;

        .name {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          //padding-right: 5px;

          //&:after {
          //  width: 5px;
          //  height: 5px;
          //  position: absolute;
          //  content: " ";
          //  background: #81a6e7;
          //  border-radius: 100px;
          //  margin-left: 96px;
          //}
        }

        .description {
          padding-left: 5px;
        }
      }

      .bottom {
        display: flex;

        .phone {
          //padding-right: 5px;
          display: flex;
          align-items: center;
          position: relative;

          //&:after {
          //  width: 5px;
          //  height: 5px;
          //  position: absolute;
          //  content: " ";
          //  background: #81a6e7;
          //  border-radius: 100px;
          //  margin-left: 151px;
          //}
        }

        .mail {
          padding-left: 5px;
        }
      }

      .dot-separator {
        font-size: 12px;
        vertical-align: top;
        display: inline-block;
        height: 16px;
      }
    }
  }

  .main-text {

    .main-container {
      width: 100%;
    }

    //.scroll-content-wrapper {
    //  overflow: auto;
    //  width: 100%;
    //  max-height: 105px;
    //  scrollbar-width: none;
    //}

    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #0f244a;

  }

  .inputs {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 14px;

    .date-error {
      border: 1px solid #EE3E62 !important;

      transition: 0.1s;
      position: relative;
      width: 173px;
      padding: 18px 24px;
      display: flex;
      justify-content: space-between;
      outline: none;
      cursor: pointer;
      background: #ffffff;
      border-radius: 15px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      &:after {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "Date";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #EE3E62;
      }

      &:hover {
        border: 1px solid #81a6e7;
      }
    }

    .date {
      transition: 0.1s;
      position: relative;
      width: 173px;
      padding: 18px 24px;
      display: flex;
      justify-content: space-between;
      outline: none;
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #94bbff;
      border-radius: 15px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      .title {
        display: flex;
        align-items: center;
      }

      .popup-calendar-cont {
        position: absolute;
        z-index: 41;
        top: 66px;
        right: -178px;

        &.hide {
          display: none;
        }
      }

      &:after {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "Date";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }

      &:hover {
        border: 1px solid #81a6e7;
      }
    }



    .time-error {
      border: 1px solid #EE3E62 !important;
      transition: 0.1s;
      width: 173px;
      padding: 18px 24px;
      display: flex;
      justify-content: space-between;
      outline: none;
      cursor: pointer;
      background: #ffffff;
      border-radius: 15px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      &:hover {
        border: 1px solid #81a6e7;
      }

      &:after {
        color: #EE3E62 !important;
      }
    }

    .time {
      transition: 0.1s;
      width: 173px;
      padding: 18px 24px;
      display: flex;
      justify-content: space-between;
      outline: none;
      //cursor: pointer;
      background: #ffffff;
      border: 1px solid #94bbff;
      border-radius: 15px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      .title {
        //display: flex;
        //align-items: center;
      }

      &:hover {
        border: 1px solid #81a6e7;
      }
    }

    .time-from {
      position: relative;

      &:after {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "From";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }
    }

    .time-to {
      position: relative;

      &:after {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "To";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }
    }

    .time-inline-block {
      display: inline-block;
      cursor: pointer;

      &.time-padding-right {
        padding-right: 7px;
      }
    }

    .time-drop-menu-cont {
      position: absolute;
      left: 0;
      top: 66px;

      &.hide {
        display: none;
      }
    }
  }

  .add-block {
    display: flex;
    align-items: center;

    .added-technical {
      //cursor: pointer;
      transition: 0.2s;
      padding: 9px 12px;
      background: #E9F1FF;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;

        .person {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 31px;
        }

        .names {
          padding-left: 10px;

          .top {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #81A6E7;
          }

          .name {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #0F244A;
          }
        }
      }

      .right {
        margin-left: 12px;
        position: relative;
        cursor: pointer;

        svg {
          transition: .2s;
          fill: #0866FB;

          &:hover {
            fill: #045BE5;
          }
        }
      }

      //&:hover {
      //  background: #d1e3fe;
      //  color: #0866fb;
      //}

      &:first-child {
        margin-right: 14px;
      }
    }
  }

  .btn-add {
    cursor: pointer;
    transition: 0.2s;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0866fb;

    padding: 19.76px 24px;
    background: #e4efff;
    border-radius: 15px;
    max-width: 166px;

    &:hover {
      background: #d1e3fe;
      color: #0866fb;
    }
  }

  .button-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .btn-add-2 {
    cursor: pointer;
    transition: 0.2s;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0866fb;
    padding: 16px 24px;
    background: #e4efff;
    border-radius: 15px;

    &:hover {
      background: #d1e3fe;
      color: #0866fb;
    }
  }

  .white-btn {
    background-color: white;
    color: #81a6e7;
    border: 1px solid #e4efff;
    cursor: pointer;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    transition: 0.2s;
    border-radius: 15px;
    padding: 16px 24px;

    &:hover {
      background-color: #edf6fe;
    }
  }
}

.popup-search {
  padding: 15px 26px 25px;
  background: #ffffff;
  box-shadow: 0 4px 24px rgba(67, 108, 180, 0.39);
  border-radius: 15px;
  width: 402px;
  z-index: 22;

  .title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #0f244a;

    padding-bottom: 15px;
    border-bottom: 1px solid #e4efff;
  }

  .search-form {
    position: relative;
    display: flex;
    justify-content: flex-end;

    i.fa {
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      margin-right: 15px;
      position: absolute;
      z-index: 1;
      margin-top: 32px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search {
      margin-bottom: 14px;
      position: relative;
      margin-top: 15px;
      outline: none;
      width: 100%;
      border: 1px solid #94bbff;
      border-radius: 15px;
      padding: 20px 45px 20px 20px;

      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #0f244a;

      &::placeholder {
        color: #81a6e7;
      }

      &:before {
        top: -9px;
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        content: "To";
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #94bbff;
      }
    }
  }

  .list {
    height: 320px;

    .item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

      .left {
        display: flex;
        align-items: center;

        .person-img {
          margin-right: 10px;
          width: 35px;
          height: 35px;
        }

        .names {
          .title-technical {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #81a6e7;
          }

          .name {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #0f244a;
          }
        }
      }

      .right {
        .add-btn {
          transition: 0.3s;
          cursor: pointer;
          padding: 12px 16px;
          background: #e9f1ff;
          border-radius: 15px;
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 130%;
          text-align: center;
          letter-spacing: 0.02em;
          color: #0866fb;

          &:hover {
            background: #0866fb;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.popup-error {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(67, 108, 180, 0.39);
  border-radius: 15px;
  width: 580px;
  padding: 16px 11px 30px 25px;

  .top {
    display: flex;
    align-items: center;
    padding-top: 13px;

    .title {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #EE3E62;
      padding-left: 21px;
    }
  }

  .text {
    padding-top: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0F244A;
    padding-right: 28px;

    span {
      color: #0866FB;
    }
  }

  .btn-find {
    cursor: pointer;
    transition: .2s;
    margin-top: 20px;
    width: 189px;
    padding: 16px 24px;
    background: #E4EFFF;
    border-radius: 15px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0866FB;

    &:hover {
      background: #d1e3fe;
      color: #0866fb;
    }
  }
}

.btn-save {
  transition: .2s;
  cursor: pointer;
  display: inline-block;
  margin-top: 14px;
  background: #0866FB;
  border-radius: 15px;
  padding: 16px 30px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;

  &:hover {
    background: #045BE5;
  }
}

.tech-drop-menu-cont {
  position: absolute;
  left: -47px;
  top: 45px;

  &.hide {
    display: none;
  }
}

.delete-popup {
  position: relative;
  padding: 15px 12px;
  width: 138px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(67, 108, 180, 0.39);
  border-radius: 15px;

  &:before {
    top: -11px;
    left: 60px;
    position: absolute;
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49519 1.13566e-06L12.9904 11.25L-1.96701e-06 11.25L6.49519 1.13566e-06Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 13px;
    height: 11px;
  }

  .title {
    cursor: pointer;
    transition: .2s;
    padding-left: 19px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #0F244A;

    &:hover {
      color: #0866FB;
    }
  }

  .top {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #E4EFFF;
  }

  .bottom {
    padding-top: 8px;
    display: flex;
    align-items: center;
  }
}

.time-popup {
  display: flex;
  justify-content: space-between;
  width: 129px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #FFFFFF;
  box-shadow: 0 4px 24px rgba(67, 108, 180, 0.25);
  border-radius: 15px;
  height: 283px;
  overflow-x: hidden;

  //&::-webkit-scrollbar {
  //  width: 0;
  //}

  .left,
  .right {
    height: 273px;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .item {
    cursor: pointer;
    transition: .2s;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000;
    border-radius: 15px;
    padding: 14px 17.5px;
    margin-bottom: 4px;

    &:hover {
      background: #E9F1FF;
      color: #000;
    }
  }

  .item-select {
    background: #0866FB;
    color: #FFFFFF;
  }
}
