.main-container {
  width: 105%;
  height: 100%;
}

.scroll-cont {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-content-wrapper {
  overflow: auto;
  width: 99.3%;
  height: 100%;
  scrollbar-width: none;
}

.scroll-content-wrapper::-webkit-scrollbar {
  display: none;
}

.scroll-vtrack {
  position: absolute;
  background-color: #fdfeff;
  z-index: 41;
  height: 100%;
  width: 13px;
  top: 0;
  right: 0;
}

.scroll-thumb {
  position: absolute;
  background-color: #0866fb;
  border-radius: 100px;
  top: 0;
  width: 5px;
  left: 4px;
  cursor: pointer;
}

.undis-content-padding {
  padding-right: 10px;
}

.scroll-cont-undispatche {
  width: 96.1%;
}

.scroll-cont-bottom {
  width: 95%;
}

.scroll-content-wrapper-popup-add {
  width: 95%;
}

.main-container-two {
  width: 106%;
}
