/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$xl: 1280px;

// Цвета
$black: #000;
$white: #e4efff;
$grey: #ccc;

$red: #ee3e62;
$orange: #ffb421;
$violet: #5437dc;

// Шрифты
$main-font: "Montserrat", sans-serif;
