/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$xl: 1280px;

// Цвета
$black: #000;
$white: #E4EFFF;
$grey: #ccc;

$red: #EE3E62;
$orange: #FFB421;
$violet: #5437DC;

// Шрифты
$main-font: 'Montserrat', sans-serif;
