.insert-phone-cont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-popup-error {
  .next-btn-login {
    margin-top: 26px;
    padding-top: 15px;
  }
}

.insert-phone-preloader {
  padding-top: 3px;
  display: flex;
  justify-content: center;
  transform: scale(0.7);
}

.insert-phone-preloader ~ .next-btn-login {
  margin-top: 2px;
}
