html,
body {
  height: 100%;
}

#react-app-cont {
  height: 100%;
}

.error-border {
  outline: 1px solid rgba(93%, 24%, 38%, 0%);
  transition:
    outline-color 300ms ease,
    border-bottom-color 300ms ease,
    border-top-color 300ms ease,
    border-left-color 300ms ease,
    border-right-color 300ms ease;

  &.active {
    outline-color: rgba(93%, 24%, 38%, 100%);
    border: 1px solid rgba(0%, 0%, 0%, 0%);
  }
}
