<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <title>Socal</title>
  <link rel="stylesheet" href="vendors/normalize-css/normalize.min.css" />
</head>
<body>
<div id="react-app-cont">
  <div class="overflow">
    <!--header.html-->
    <%= _.template(require('../includes/common/header.html').default)({version:
    htmlWebpackPlugin.options.custom.version,}) %>
    <main>
      <!--index/hero.html-->
      <%= _.template(require('../includes/index/undispatched.html').default)({}) %>
    </main>
    <!--footer.html-->
    <%= _.template(require('../includes/common/footer.html').default)({}) %>
  </div>
</div>
</body>
</html>
